{% extends 'homebase.html.twig' %}

{% block title %} Hakk覺m覺zda {{ data[0].title }} {% endblock %}
{% block keywords %} {{ data[0].keywords }} {% endblock %}
{% block description %} {{ data[0].description }} {% endblock %}
{% block content %}

    <hr class="" >
    <div>
        <h1>Hakk覺m覺zda</h1>
    </div>
    <hr class="">
    <div class="row">
        <div class="">
            <p>
                {{ data[0].abouts|raw }}

            </p>
            <div class="row"></div>
        </div>


    </div>
{% endblock %}
