
{% extends 'adminbase.html.twig' %}
    {% block title %}Kategori Düzenleme  {% endblock %}
   {% block content %}
<div class="col-lg-10">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2> Kategori Düzenleme </h2>
        </div>
        <div class="panel-body">
            <div class="table-responsive table-bordered">

                {{ include('admin/category/_form.html.twig', {'button_label': 'Update'}) }}

                <a href="{{ path('admin_category_index') }}">back to list</a>

            </div>
        </div>
    </div>
    {% endblock %}
