{% extends 'adminbase.html.twig' %}
    {% block title %}Kategori Düzenleme  {% endblock %}
   {% block content %}
<div class="col-lg-10">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2> Ürün Düzenleme </h2>
        </div>
        <div class="panel-body">
            <div class="">

                {{ include('admin/product/_form.html.twig') }}
                <div>
                    {{ include('admin/messages.html.twig') }}

                </div>

            </div>
        </div>
    </div>
    {% endblock %}

