{% extends 'homebase.html.twig' %}

{% block title %}Yeni Sipariş ver{% endblock %}

{% block content %}
    <h1>Yeni Sipariş ver</h1>
    <ul class="breadcrumb">
        <li><a href="{{ path('home') }}">Home</a><span class="divider">/</span> </li>
        <li><a href="">Order Items</a><span class="divider">/</span> </li>
        <li class="active">Preview</li>
    </ul>
    <div class="well well-sm">

        <h5>Order Items</h5>
        {{ include('orders/_form.html.twig') }}
    </div>


{% endblock %}
